:root {
    --background-color: #071013;
    --element-background-color: #0c2730;
    --element-background-color-light: #154353;
    --cell-division-color: #115973;
    --accent-color: #22d6ff;
    --text-color: #acf0ff;
    
    --data-gap: 5px;
    --ui-gap: 12px; /* just large enough to not let scrollbar obscure table margin */
}
/* TODO: Light mode */

html {
    background-color: var(--background-color);
    color: var(--text-color);
}
body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Abril Fatface", serif;
    margin: 0;
    color: var(--accent-color);
}

header {
    font-size: 30px;
}

table {
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid;
    padding: var(--data-gap);
}

html, button {
    font-family: "SN Pro", sans-serif;
}

input, code, pre, #output {
    font-family: "Google Sans Code", monospace;
}

input, button {
    background-color: var(--element-background-color);
    color: var(--text-color);
    border: 1px solid;
    padding: var(--ui-gap);
    font-size: 16px;
}
button {
    cursor: pointer;
}
button:hover {
    background-color: var(--element-background-color-light);
}

#output {
    display: flex;
    flex-direction: column;
    gap: var(--data-gap);
    margin: var(--data-gap) 0;
}
.computation {
    border: 1px solid;
    border-color: var(--cell-division-color);
    border-radius: var(--ui-gap);
}
.input-row {
    padding: var(--ui-gap);
    padding-left: calc(var(--ui-gap) + 3ch);
    border-bottom: 1px solid;
    border-color: var(--cell-division-color);
}
.output-row {
    padding: var(--ui-gap);
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
    flex-wrap: wrap;
    gap: calc(2 * var(--data-gap));
    overflow-y: auto;
}
td {
    white-space: pre;
    /* word-break: keep-all; */
}

main {
    position: relative;
    margin: 8px;
}
#input-field {
    top: 0;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: var(--data-gap);
    align-items: stretch;
}
#input {
    grid-area: 1 / 1 / 2 / 2;
}
#submit {
    grid-area: 1 / 2 / 2 / 3;
    width: 10ch;
}
